body {
  font-family: Georgia, Times, serif;
}

h2 {
  font-size: .8em;
  text-transform: uppercase;
  color: #888;
}

h3 {
  font-weight: normal;
}

time {
  font-size: .8em;
  color: #666;
}

.jobCompany {
  font-weight: bold;
}

.jobCompany::after {
  content: ',';
}

.jobLocation {
  font-weight: normal;
}

.jobTitle {
  font-style: italic;
}

.jobTitle::before {
  content: '— '
}
