$spacing-xs: 0.125em;
$spacing-m: 1em;
$font-family-serif: Georgia, Times, serif;
$font-family-sans: Arial, sans-serif;

body {
  font-family: $font-family-serif;

  @media print {
    font-size: 0.5em;
  }
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

main {
  max-width: 600px;
  margin: auto;
}

header {
  h1 {
    font-size: 2.5em;
    margin-top: 4vw;
  }

  p {
    margin: 0;
  }
}

h2 {
  font-size: 0.8em;
  text-transform: uppercase;
  color: #999;
  font-family: $font-family-sans;
}

h3 {
  font-weight: normal;
}

.experience {
  margin: $spacing-m 0;

  @media screen and(min-width: 600px) {
    margin: 2vw 0;
  }
}

$font-size-subhead: 0.8em;
.school,
.job {
  margin: $spacing-m 0;

  @media screen and(min-width: 600px) {
    margin: 2vw 0;
  }

  .school,
  .company {
    font-weight: bold;
  }

  .degree,
  .title {
    font-style: italic;

    &:before {
      content: ' — ';
    }
  }

  .location {
    font-size: $font-size-subhead;
    display: none;
  }

  .tenure {
    color: #888;
    font-size: $font-size-subhead;
    font-family: $font-family-sans;
  }

  .end {
    &:before {
      content: ' - ';
    }
  }

  .tools {
    font-size: $font-size-subhead;
    margin: $spacing-xs 0 0 0;
  }

  .description {
    margin-top: $spacing-m;
  }
}
